<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRITE YOUR MESSAGE</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="navbar">
        <a href="/"><img src="/images/logo.jpg" alt="logo"></a>
        <h3>THE INFINITE DEN</h3>
        <span>
            <a href="/logout">LOGOUT</a>
        </span>
    </div>
    <div id="displayBox">
        <center>
            <h1>Just say this to world!</h1><br>
            <form action="/message" method="POST">
                <label for="title">TITLE</label><br>
                <input type="text" name="title"><br><br>
                <label for="message">Message</label><br>
                <input type="text" name="message"><br><br>
                <input type="submit" value="SHARE">
            </form>
        </center>
    </div>
</body>

<footer>
    <center>
        <h3>
            COPYRIGHT ©KUNAL PURBIA
        </h3>
    </center>
</footer>

</html>